*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    background-color:rgb(255, 194, 61);
}
header .left{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header .left .logo{
    margin-left: 70px;
    margin-right: 30px;
}
header .left .logo a {
    text-decoration: none;
}
header .left .logo img {
    width: 130px; /* Adjust the width as needed */
}

header .left ul li a {
    text-decoration: none;
    color: darkgreen;
}
header .left ul li a:hover {
    color: white;
}

header .user-info {
    display: flex;
    margin-right: 70px;
}
header .user-info .user-info-account img, header .user-info .user-info-menu img {
    width: 40px;
    height: auto;
}
header .user-info .user-info-menu img {
    margin-left: 10px;
}