<!DOCTYPE html>
<html lang="en"
      xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout.html">
<div layout:fragment="content">
  <input type="hidden" id="additionalBlockId" th:value="${additionalBlock.getId()}">
  <input type="hidden" id="additionalBlockDishId" th:value="${additionalBlock.getDish().getId()}">
  <div class="row mt-3">
    <div class="col-6 mx-auto">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Additional block name</th>
            <th>Description</th>
            <th>Condition</th>
            <th>Dish name</th>
            <th>DETAILS</th>
          </tr>
        </thead>
        <tbody id="additionalBlockBody">
        </tbody>
      </table>
      <div class="modal fade" id="detailsModalForAdditionalBlock" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel1">Additional Block details</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row mt-3">
                <div class="col-12" id="alertForUpdatingFormAdditionalBlock">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <label for="additionalBlockName">ADDITIONAL BLOCK NAME:</label>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <input type="text" id="additionalBlockName" class="form-control">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <label for="additionalBlockDescription">ADDITIONAL BLOCK DESCRIPTION:</label>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <input type="text" id="additionalBlockDescription" class="form-control">
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12" id="additionalBlockCondition">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="updateAdditionalBlock()">UPDATE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6 mx-auto">
      <div class="row mt-3">
        <div class="col-12" id="alertForCreatingNewAdditionalDish">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <label for="newAdditionalDishName">Additional dish name:</label>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <input type="text" id="newAdditionalDishName" class="form-control" required>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <label for="newAdditionalDishPrice">Price:</label>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <input type="number" id="newAdditionalDishPrice" class="form-control" required>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <button class="btn btn-success text-center" onclick="addNewAdditionalDish()">ADD ADDITIONAL DISH</button>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" id="additionalDishId">
  <div class="row mt-3">
    <div class="col-6 mx-auto">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Additional dish name</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody id="additionalDishBody">
        </tbody>
      </table>
      <div class="modal fade" id="detailsModalForAdditionalDish" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel2">Additional Dish details</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row mt-3">
                <div class="col-12" id="alertForUpdatingFormAdditionalDish">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <label for="additionalDishName">ADDITIONAL DISH NAME:</label>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <input type="text" id="additionalDishName" class="form-control">
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12">
                  <label for="additionalDishPrice">ADDITIONAL DISH PRICE:</label>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-12">
                  <input type="text" id="additionalDishPrice" class="form-control">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteAdditionalDish()">DELETE</button>
              <button type="button" class="btn btn-primary" onclick="updateAdditionalDish()">UPDATE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    conditionIdStorage = [];
    var conditionLength = 0;
    function loadConditions() {
      const httpRequest = new XMLHttpRequest();
      httpRequest.open("GET", "/condition", false);
      httpRequest.onreadystatechange = function () {
        if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
          let conditionList = JSON.parse(httpRequest.responseText);
          let conditionSelectionContent = "";
          conditionLength = conditionList.length;
          for (let i = 0; i < conditionLength; i++) {
            conditionSelectionContent += "<div class='form-check'>" +
                    "<input class='form-check-input' type='radio' name='conditionRadioButtons' id='condition-"+i+"' value='condition-"+conditionList[i].id+"'>" +
                    "<label class='form-check-label' for='condition-"+i+"'>" +
                    conditionList[i].type +
                    "</label>" +
                    "</div>";
            conditionIdStorage[i] = conditionList[i].id;
          }
          document.getElementById("additionalBlockCondition").innerHTML = conditionSelectionContent;
        }
      };
      httpRequest.send();
    }
    function deleteAdditionalDish(){
      let additionalDishId = document.getElementById("additionalDishId").value;
      const httpRequest = new XMLHttpRequest();
      httpRequest.open("DELETE", "/additionalDish/" + additionalDishId, true);
      httpRequest.onreadystatechange = function () {
        if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
          loadAdditionalDishes();
        }
      };
      httpRequest.send();
    }
    function showAlertForUpdatingAdditionalBlockOrDishOrJustNewDish(type, message, blockOrDish) {
      let alertDiv = document.createElement("div");
      alertDiv.classList.add("alert", "alert-" + type, "alert-dismissible", "fade", "show");
      alertDiv.setAttribute("role", "alert");

      let strongTag = document.createElement("strong");
      strongTag.textContent = message;
      alertDiv.appendChild(strongTag);

      let closeButton = document.createElement("button");
      closeButton.setAttribute("type", "button");
      closeButton.classList.add("btn-close");
      closeButton.setAttribute("data-bs-dismiss", "alert");
      closeButton.setAttribute("aria-label", "Close");
      alertDiv.appendChild(closeButton);
      if(blockOrDish==="block") {
        document.getElementById("alertForUpdatingFormAdditionalBlock").appendChild(alertDiv);
      }else if(blockOrDish==="new"){
        document.getElementById("alertForCreatingNewAdditionalDish").appendChild(alertDiv);
      } else{
        document.getElementById("alertForUpdatingFormAdditionalDish").appendChild(alertDiv);
      }
    }

    function updateAdditionalBlock(){
      let additionalBlockId = document.getElementById("additionalBlockId").value;
      let additionalBlockName = document.getElementById("additionalBlockName");
      let additionalBlockDescription = document.getElementById("additionalBlockDescription");
      let selectedConditionTypeIs = "";
      for(let i = 0;i<conditionLength;i++){
        if(document.getElementById("condition-"+i).checked){
          selectedConditionTypeIs = conditionIdStorage[i];
          break;
        }
      }
      if(additionalBlockName.value===""){
        showAlertForUpdatingAdditionalBlockOrDishOrJustNewDish("danger","Fill the block for name","block");
      }else if(additionalBlockDescription.value===""){
        showAlertForUpdatingAdditionalBlockOrDishOrJustNewDish("danger","Fill the block for description","block");
      }else if(selectedConditionTypeIs===""){
        showAlertForUpdatingAdditionalBlockOrDishOrJustNewDish("danger","Choose the condition type","block");
      }else{
        const httpRequest = new XMLHttpRequest();
        httpRequest.open("PUT", "/additionalBlock", true);
        httpRequest.setRequestHeader("Content-Type","application/json");

        httpRequest.onreadystatechange = function(){
          if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
            loadAdditionalBlock();
          }
        };
        let body = {
          "id": additionalBlockId,
          "name": additionalBlockName.value,
          "description":additionalBlockDescription.value,
          "conditionType":JSON.parse("{"+'"id":'+ selectedConditionTypeIs+"}"),
          "dish":JSON.parse("{"+'"id":'+ document.getElementById("additionalBlockDishId").value+"}")
        };
        body = JSON.stringify(body);
        httpRequest.send(body);
      }
    }

    function updateAdditionalDish(){
      let additionalDishId = document.getElementById("additionalDishId").value;
      let additionalBlockId = document.getElementById("additionalBlockId").value;
      let additionalDishName = document.getElementById("additionalDishName");
      let additionalDishPrice = document.getElementById("additionalDishPrice");
      if(additionalDishName.value===""){
        showAlertForUpdatingAdditionalBlockOrDishOrJustNewDish("danger","Fill the input for name","dish");
      }else if(additionalDishPrice.value===""){
        showAlertForUpdatingAdditionalBlockOrDishOrJustNewDish("danger","Fill the input for price","dish");
      }else{
        const httpRequest = new XMLHttpRequest();
        httpRequest.open("PUT", "/additionalDish", true);
        httpRequest.setRequestHeader("Content-Type","application/json");

        httpRequest.onreadystatechange = function(){
          if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
            loadAdditionalDishes();
          }
        };
        let body = {
          "id": additionalDishId,
          "name": additionalDishName.value,
          "price":additionalDishPrice.value,
          "additionalBlock":JSON.parse("{"+'"id":'+ additionalBlockId +"}")
        };
        body = JSON.stringify(body);
        httpRequest.send(body);
      }
    }
    function addNewAdditionalDish(){
      document.getElementById("alertForCreatingNewAdditionalDish").innerHTML = "";
      let newAdditionalDishName = document.getElementById("newAdditionalDishName");
      let newAdditionalDishPrice = document.getElementById("newAdditionalDishPrice");
      let additionalBlock = "{" + '"id":'+ document.getElementById("additionalBlockId").value + "}";

      if (newAdditionalDishName.value === "") {
        showAlertForUpdatingAdditionalBlockOrDishOrJustNewDish("danger", "Write additional dish name!","new");
      } else if (newAdditionalDishPrice.value === "") {
        showAlertForUpdatingAdditionalBlockOrDishOrJustNewDish("danger", "Write additional dish price!","new");
      } else{
        showAlertForUpdatingAdditionalBlockOrDishOrJustNewDish("success", "Dish added successfully!","new");
        const httpRequest = new XMLHttpRequest();
        httpRequest.open("POST", "/additionalDish", true);
        httpRequest.setRequestHeader("Content-Type", "application/json");

        httpRequest.onreadystatechange = function () {
          if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
            newAdditionalDishName.value = "";
            newAdditionalDishPrice.value = "";
            loadAdditionalDishes();
          }
        };
        let body = {
          "name": newAdditionalDishName.value,
          "price": newAdditionalDishPrice.value,
          "additionalBlock":JSON.parse(additionalBlock)
        };
        body = JSON.stringify(body);
        httpRequest.send(body);
      }
    }
    function openAdditionalBlockDetailsModal(additionalBlockId){
      document.getElementById("alertForUpdatingFormAdditionalBlock").innerHTML = "";
      loadConditions();

      modalForAdditionalBlock = new bootstrap.Modal(document.getElementById('detailsModalForAdditionalBlock'));
      const httpRequest = new XMLHttpRequest();
      httpRequest.open("GET","/additionalBlock/"+additionalBlockId,true);
      httpRequest.onreadystatechange = function() {
        if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
          let result = JSON.parse(httpRequest.responseText);
          document.getElementById("additionalBlockName").value = result.name;
          document.getElementById("additionalBlockDescription").value = result.description;
          for(let i = 0;i<conditionLength;i++){
            if(conditionIdStorage[i]===result.conditionType.id){
              document.getElementById("condition-"+i).checked = true;
              break;
            }
          }
          modalForAdditionalBlock.show();
        }
      };
      httpRequest.send();
    }
    function openAdditionalDishDetailsModal(additionalDishId){
      document.getElementById("alertForUpdatingFormAdditionalDish").innerHTML = "";
      document.getElementById("additionalDishId").value=additionalDishId;

      modalForAdditionalDish = new bootstrap.Modal(document.getElementById('detailsModalForAdditionalDish'));
      const httpRequest = new XMLHttpRequest();
      httpRequest.open("GET","/additionalDish/"+additionalDishId,true);
      httpRequest.onreadystatechange = function() {
        if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
          let result = JSON.parse(httpRequest.responseText);
          document.getElementById("additionalDishName").value = result.name;
          document.getElementById("additionalDishPrice").value = result.price;
          modalForAdditionalDish.show();
        }
      };
      httpRequest.send();
    }

    loadAdditionalBlock();
    function loadAdditionalBlock() {
      const httpRequest = new XMLHttpRequest();
      httpRequest.open("GET", "/additionalBlock/" + document.getElementById("additionalBlockId").value, true);
      httpRequest.onreadystatechange = function () {
        if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
          let additionalBlock = JSON.parse(httpRequest.responseText);
          let tableContent = "";
          tableContent += "<tr>";
          tableContent += "<td>" + additionalBlock.id + "</td>";
          tableContent += "<td>" + additionalBlock.name + "</td>";
          tableContent += "<td>" + additionalBlock.description + "</td>";
          tableContent += "<td>" + additionalBlock.conditionType.type + "</td>";
          tableContent += "<td>" + additionalBlock.dish.name + "</td>";
          tableContent += "<td><button class='btn btn-primary btn-sm' onclick='openAdditionalBlockDetailsModal(" + additionalBlock.id + ")'>Edit</button></td>";
          tableContent += "</tr>";
          document.getElementById("additionalBlockBody").innerHTML = tableContent;
        }
      };
      httpRequest.send();
    }
    loadAdditionalDishes();
    function loadAdditionalDishes(){
      const httpRequest = new XMLHttpRequest();
      httpRequest.open("GET","/additionalDish/additionalBlock/"+document.getElementById("additionalBlockId").value,true);
      httpRequest.onreadystatechange = function(){
        if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
          let additionalDish = JSON.parse(httpRequest.responseText);
          let tableContent = "";
          for(let i = 0;i<additionalDish.length;i++) {
            tableContent += "<tr>";
              tableContent += "<td>" + additionalDish[i].id + "</td>";
              tableContent += "<td>" + additionalDish[i].name + "</td>";
              tableContent += "<td>" + additionalDish[i].price + "</td>";
              tableContent += "<td><button class='btn btn-primary btn-sm' onclick='openAdditionalDishDetailsModal(" + additionalDish[i].id + ")'>Edit</button></td>";
            tableContent += "</tr>";
          }
          document.getElementById("additionalDishBody").innerHTML = tableContent;
        }
      }
      httpRequest.send();
    }
  </script>
</div>
</html>