<!DOCTYPE html>
<html lang="en"
      xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout.html">
    <div layout:fragment="content">
        <h1 class="text-center">Here should be shown all users</h1>
        <div class="row mt-3 mb-5">
            <div class="col-6">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>FULL NAME</th>
                        <th>EMAIL</th>
                        <th>PRE ORDER</th>
                        <th>PERMISSIONS</th>
                        <th style="width: 10%">DETAILS</th>
                    </tr>
                    </thead>
                    <tbody id="userListBody">
                    </tbody>
                </table>
                <div class="modal fade" id="detailsModalForUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel1">User DETAILS</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label for="userPermissionsInDetail">USER PERMISSIONS:</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <input type="text" id="userPermissionsInDetail" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
                                <button type="button" class="btn btn-primary">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center">Categories block</h1>
        <input type="hidden" id="categoryId">
        <div class="row mb-3">
            <div class="col-6 mx-auto">
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="categoryName">CATEGORY NAME:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" id="categoryName" class="form-control" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-success text-center" onclick="addCategory()">ADD CATEGORY</button>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center">Here should be shown all categories</h1>
        <div class="row mt-3">
            <div class="col-6">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th style="width: 10%">DETAILS</th>
                        </tr>
                    </thead>
                    <tbody id="categoryListBody">
                    </tbody>
                </table>
                <div class="modal fade" id="detailsModalForCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Category details</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label for="categoryNameInDetail">CATEGORY NAME:</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <input type="text" id="categoryNameInDetail" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deleteCategory()">DELETE</button>
                                <button type="button" class="btn btn-primary" onclick="updateCategory()">UPDATE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            loadCategories();

            function loadCategories(){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET","/category",true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        let categoryList = JSON.parse(httpRequest.responseText);
                        let tableContent = "";
                        for(let i = 0;i<categoryList.length;i++){
                            tableContent+="<tr>";
                                tableContent+="<td>"+categoryList[i].id+"</td>";
                                tableContent+="<td>"+categoryList[i].name+"</td>";
                                tableContent+="<td><button class='btn btn-primary btn-sm' onclick='openCategoryDetailsModal("+categoryList[i].id+")'>DETAILS</button></td>";
                            tableContent+="</tr>";
                        }
                        document.getElementById("categoryListBody").innerHTML = tableContent;
                    }
                };
                httpRequest.send();
            }

            loadUsers();
            function loadUsers(){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET","/user",true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        let userList = JSON.parse(httpRequest.responseText);
                        let tableContent="";
                        for(let i = 0;i<userList.length;i++){
                            let isAdmin = false;
                            let userCurrentPermissionLength = userList[i].permissions.length;
                            let userPermissionContent = "";
                            for(let x = 0; x<userCurrentPermissionLength;x++){
                                if(userList[i].permissions[x].role==='ROLE_ADMIN'){
                                    isAdmin=true;
                                    break;
                                }else{
                                    userPermissionContent += userList[i].permissions[x].role + ",";
                                }
                            }
                            if(userPermissionContent.length>0) userPermissionContent = userPermissionContent.slice(0,-1);
                            if(!isAdmin) {
                                tableContent += "<tr>";
                                tableContent += "<td>" + userList[i].id + "</td>";
                                tableContent += "<td>" + userList[i].fullName + "</td>";
                                tableContent += "<td>" + userList[i].email + "</td>";
                                tableContent += "<td>" + userList[i].preOrder + "</td>";
                                tableContent += "<td>" + userPermissionContent + "</td>";
                                tableContent += "<td><button class='btn btn-primary btn-sm' onclick='openUserDetailsModal(" + userList[i].id + ")'>DETAILS</button></td>";
                                tableContent += "</tr>";
                            }
                        }
                        document.getElementById("userListBody").innerHTML = tableContent;
                    }
                }
                httpRequest.send();
            }
            function addCategory(){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("POST", "/category", true);
                httpRequest.setRequestHeader("Content-Type","application/json");

                let categoryName = document.getElementById("categoryName");

                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        categoryName.value="";
                        loadCategories();
                    }
                };
                let body = {
                    "name": categoryName.value,
                };
                body = JSON.stringify(body);
                httpRequest.send(body);
            }
            function openCategoryDetailsModal(id){
                modalForCategory = new bootstrap.Modal(document.getElementById('detailsModalForCategory'));
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET","/category/"+id,true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        let result = JSON.parse(httpRequest.responseText);
                        document.getElementById("categoryNameInDetail").value = result.name;
                        document.getElementById("categoryId").value=result.id;
                        modalForCategory.show();
                    }
                }
                httpRequest.send();
            }
            function openUserDetailsModal(id){
                modalForUser = new bootstrap.Modal(document.getElementById("detailsModalForUser"));
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET","/user/"+id,true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        let result = JSON.parse(httpRequest.responseText);
                        let contentForUserPermissions = "";
                        let resultPermissionLength = result.permissions.length;
                        for(let i = 0;i<resultPermissionLength-1;i++){
                            contentForUserPermissions+=result.permissions[i].role +",";
                        }
                        if(resultPermissionLength>0) {
                            contentForUserPermissions+=result.permissions[resultPermissionLength-1].role;
                        }
                        document.getElementById("userPermissionsInDetail").value=contentForUserPermissions;
                        modalForUser.show();
                    }
                }
                httpRequest.send();
            }
            function deleteCategory(){
                let approve = confirm("Are you sure?");
                if(approve){
                    let categoryId = document.getElementById("categoryId").value;
                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("DELETE","/restaurant/category/"+categoryId,true);
                    httpRequest.onreadystatechange = function(){
                        if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                            deleteCategoryFromDatabase(categoryId);
                        }
                    };
                    httpRequest.send();
                }
            }
            function deleteCategoryFromDatabase(categoryId){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("DELETE", "/category/"+categoryId, true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        modalForCategory.hide();
                        loadCategories();
                    }
                };
                httpRequest.send();
            }
            function updateCategory(){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("PUT", "/category", true);
                httpRequest.setRequestHeader("Content-Type","application/json");

                let categoryId = document.getElementById("categoryId");
                let categoryName = document.getElementById("categoryNameInDetail");

                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        loadCategories();
                    }
                };

                let body = {
                    "id": categoryId.value,
                    "name": categoryName.value,
                };
                body = JSON.stringify(body);
                httpRequest.send(body);
            }
        </script>
    </div>
</html>