<!DOCTYPE html>
<html lang="en"
      xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout.html">
    <div layout:fragment="content">
        <h1 class="text-center">Here should be shown all users</h1>
        <input type="hidden" id="userId">
        <div class="row mt-3 mb-5">
            <div class="col-6 mx-auto">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>FULL NAME</th>
                        <th>EMAIL</th>
                        <th>PRE ORDER</th>
                        <th>PERMISSIONS</th>
                        <th style="width: 10%">Change Permissions</th>
                    </tr>
                    </thead>
                    <tbody id="userListBody">
                    </tbody>
                </table>
                <div class="modal fade" id="detailsModalForUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel1">User Permissions</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label for="userNameInDetail">USER NAME:</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <input type="text" id="userNameInDetail" class="form-control">
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label for="userEmailInDetail">USER EMAIL:</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <input type="text" id="userEmailInDetail" class="form-control">
                                    </div>
                                </div>

                                <div class="mt-3" id="userPermissionsInDetail"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deleteUser()">DELETE</button>
                                <button type="button" class="btn btn-primary" onclick="updateUser()">UPDATE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h1 class="text-center mt-5">Dish Type block</h1>
        <input type="hidden" id="dishTypeId">
        <div class="row mb-3">
            <div class="col-6 mx-auto">
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="dishTypeName">DISH TYPE NAME:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" id="dishTypeName" class="form-control" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-success text-center" onclick="addDishType()">ADD DISH TYPE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6 mx-auto">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>DISH TYPE NAME</th>
                        <th style="width: 10%">DETAILS</th>
                    </tr>
                    </thead>
                    <tbody id="dishTypeListBody">
                    </tbody>
                </table>
                <div class="modal fade" id="detailsModalForDishType" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel2">Dish Type details</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label for="dishTypeNameInDetail">DISH TYPE NAME:</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <input type="text" id="dishTypeNameInDetail" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deleteDishType()">DELETE</button>
                                <button type="button" class="btn btn-primary" onclick="updateDishType()">UPDATE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <h1 class="text-center mt-5">Categories block</h1>
        <input type="hidden" id="categoryId">
        <div class="row mb-3">
            <div class="col-6 mx-auto">
                <div class="row mt-3">
                    <div class="col-12">
                        <label for="categoryName">CATEGORY NAME:</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" id="categoryName" class="form-control" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-success text-center" onclick="addCategory()">ADD CATEGORY</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-6 mx-auto">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NAME</th>
                            <th style="width: 10%">DETAILS</th>
                        </tr>
                    </thead>
                    <tbody id="categoryListBody">
                    </tbody>
                </table>
                <div class="modal fade" id="detailsModalForCategory" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Category details</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row mt-3">
                                    <div class="col-12">
                                        <label for="categoryNameInDetail">CATEGORY NAME:</label>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-12">
                                        <input type="text" id="categoryNameInDetail" class="form-control">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deleteCategory()">DELETE</button>
                                <button type="button" class="btn btn-primary" onclick="updateCategory()">UPDATE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            loadCategories();

            function loadCategories(){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET","/category",true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        let categoryList = JSON.parse(httpRequest.responseText);
                        let tableContent = "";
                        for(let i = 0;i<categoryList.length;i++){
                            tableContent+="<tr>";
                                tableContent+="<td>"+categoryList[i].id+"</td>";
                                tableContent+="<td>"+categoryList[i].name+"</td>";
                                tableContent+="<td><button class='btn btn-primary btn-sm' onclick='openCategoryDetailsModal("+categoryList[i].id+")'>DETAILS</button></td>";
                            tableContent+="</tr>";
                        }
                        document.getElementById("categoryListBody").innerHTML = tableContent;
                    }
                };
                httpRequest.send();
            }
            loadDishTypes();
            function loadDishTypes(){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET","/dishType",true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        let dishTypeList = JSON.parse(httpRequest.responseText);
                        let tableContent = "";
                        for(let i = 0;i<dishTypeList.length;i++){
                            tableContent+="<tr>";
                                tableContent+="<td>"+dishTypeList[i].id+"</td>";
                                tableContent+="<td>"+dishTypeList[i].name+"</td>";
                                tableContent+="<td><button class='btn btn-primary btn-sm' onclick='openDishTypeDetailsModal("+dishTypeList[i].id+")'>DETAILS</button></td>";
                            tableContent+="</tr>";
                        }
                        document.getElementById("dishTypeListBody").innerHTML = tableContent;
                    }
                };
                httpRequest.send();
            }
            loadPermissions();
            permissionStorage = [];
            totalPermissionLength = 0;
            function loadPermissions(){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET","/permission",true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        let allPermission = JSON.parse(httpRequest.responseText);
                        let contentForAllPermission = "";
                        totalPermissionLength = allPermission.length;
                        for(let i = 0;i<totalPermissionLength;i++){
                            contentForAllPermission+="<input class='form-check-input' type='checkbox' role='switch' id=permission-"+i+">";
                            contentForAllPermission+="<label class='form-check-label' for=permission-"+i+">"+allPermission[i].role+"</label><br>";
                            permissionStorage[i] = allPermission[i].id;
                        }
                        document.getElementById("userPermissionsInDetail").innerHTML = contentForAllPermission;
                    }
                }
                httpRequest.send();
            }

            loadUsers();
            function loadUsers(){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET","/user",true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        let userList = JSON.parse(httpRequest.responseText);
                        let tableContent="";
                        for(let i = 0;i<userList.length;i++){
                            let isAdmin = false;
                            let userCurrentPermissionLength = userList[i].permissions.length;
                            let userPermissionContent = "";
                            for(let x = 0; x<userCurrentPermissionLength;x++){
                                if(userList[i].permissions[x].role==='ROLE_ADMIN'){
                                    isAdmin=true;
                                    break;
                                }else{
                                    userPermissionContent += userList[i].permissions[x].role + ", ";
                                }
                            }
                            if(!isAdmin) {
                                if(userPermissionContent.length>0) userPermissionContent = userPermissionContent.slice(0,-2);
                                tableContent += "<tr>";
                                tableContent += "<td>" + userList[i].id + "</td>";
                                tableContent += "<td>" + userList[i].fullName + "</td>";
                                tableContent += "<td>" + userList[i].email + "</td>";
                                tableContent += "<td>" + userList[i].preOrder + "</td>";
                                tableContent += "<td>" + userPermissionContent + "</td>";
                                tableContent += "<td><button class='btn btn-primary btn-sm' onclick='openUserDetailsModal(" + userList[i].id + ")'>DETAILS</button></td>";
                                tableContent += "</tr>";
                            }
                        }
                        document.getElementById("userListBody").innerHTML = tableContent;
                    }
                }
                httpRequest.send();
            }
            function addCategory(){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("POST", "/category", true);
                httpRequest.setRequestHeader("Content-Type","application/json");

                let categoryName = document.getElementById("categoryName");

                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        categoryName.value="";
                        loadCategories();
                    }
                };
                let body = {
                    "name": categoryName.value
                };
                body = JSON.stringify(body);
                httpRequest.send(body);
            }
            function addDishType(){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("POST","/dishType",true);
                httpRequest.setRequestHeader("Content-Type","application/json");
                let dishTypeName = document.getElementById("dishTypeName");
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        dishTypeName.value="";
                        loadDishTypes();
                    }
                };
                let body = {
                  "name" :  dishTypeName.value
                };
                body = JSON.stringify(body);
                httpRequest.send(body);
            }
            function openCategoryDetailsModal(id){
                modalForCategory = new bootstrap.Modal(document.getElementById('detailsModalForCategory'));
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET","/category/"+id,true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        let result = JSON.parse(httpRequest.responseText);
                        document.getElementById("categoryNameInDetail").value = result.name;
                        document.getElementById("categoryId").value=result.id;
                        modalForCategory.show();
                    }
                }
                httpRequest.send();
            }
            function openDishTypeDetailsModal(id){
                modalForDishType = new bootstrap.Modal(document.getElementById("detailsModalForDishType"));
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET","/dishType/"+id,true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        let result = JSON.parse(httpRequest.responseText);
                        document.getElementById("dishTypeNameInDetail").value = result.name;
                        document.getElementById("dishTypeId").value = result.id;
                        modalForDishType.show();
                    }
                }
                httpRequest.send();
            }
            function openUserDetailsModal(id){
                modalForUser = new bootstrap.Modal(document.getElementById("detailsModalForUser"));
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET","/user/"+id,true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        let result = JSON.parse(httpRequest.responseText);
                        let resultPermissionLength = result.permissions.length;
                        for(let i = 0;i<totalPermissionLength;i++){
                            document.getElementById("permission-"+i).checked = false;
                            for(let j = 0;j<resultPermissionLength;j++){
                                if(permissionStorage[i]===result.permissions[j].id){
                                    document.getElementById("permission-"+i).checked = true;
                                    break;
                                }
                            }
                        }
                        document.getElementById("userNameInDetail").value = result.fullName;
                        document.getElementById("userEmailInDetail").value = result.email;
                        document.getElementById("userId").value=result.id;
                        modalForUser.show();
                    }
                }
                httpRequest.send();
            }
            function deleteCategory(){
                let approve = confirm("Are you sure?");
                if(approve){
                    let categoryId = document.getElementById("categoryId").value;
                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("DELETE","/restaurant/category/"+categoryId,true);
                    httpRequest.onreadystatechange = function(){
                        if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                            deleteCategoryFromDatabase(categoryId);
                        }
                    };
                    httpRequest.send();
                }
            }
            function deleteDishType(){
                let approve = confirm("Are you sure?");
                if(approve){
                    let dishTypeId = document.getElementById("dishTypeId").value;
                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("DELETE","/dish/dishType/"+dishTypeId,true);
                    httpRequest.onreadystatechange = function(){
                        if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                            deleteDishTypeFromDatabase(dishTypeId);
                        }
                    };
                    httpRequest.send();
                }
            }
            function deleteCategoryFromDatabase(categoryId){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("DELETE", "/category/"+categoryId, true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        modalForCategory.hide();
                        loadCategories();
                    }
                };
                httpRequest.send();
            }
            function deleteDishTypeFromDatabase(dishTypeId){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("DELETE","/dishType/"+dishTypeId,true);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        modalForDishType.hide();
                        loadDishTypes();
                    }
                };
                httpRequest.send();
            }
            function updateCategory(){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("PUT", "/category", true);
                httpRequest.setRequestHeader("Content-Type","application/json");

                let categoryId = document.getElementById("categoryId");
                let categoryName = document.getElementById("categoryNameInDetail");

                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        loadCategories();
                    }
                };

                let body = {
                    "id": categoryId.value,
                    "name": categoryName.value
                };
                body = JSON.stringify(body);
                httpRequest.send(body);
            }
            function updateDishType(){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("PUT","/dishType",true);
                httpRequest.setRequestHeader("Content-Type","application/json");
                let dishTypeId = document.getElementById("dishTypeId");
                let dishTypeName = document.getElementById("dishTypeNameInDetail");
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        loadDishTypes();
                    }
                };
                let body = {
                    "id":dishTypeId.value,
                    "name":dishTypeName.value
                };
                body = JSON.stringify(body);
                httpRequest.send(body);
            }
            function deleteUser(){
                let approve = confirm("Are you sure?");
                if(approve){
                    let userId = document.getElementById("userId").value;
                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("DELETE", "/user/"+userId, true);
                    httpRequest.onreadystatechange = function(){
                        if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                            modalForUser.hide();
                            loadUsers();
                        }
                    };
                    httpRequest.send();
                }
            }
            var currentUpdatedPermissionContent = "";
            function findSelectedPermissionForSpecifiedUser(i){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET","/permission/"+permissionStorage[i], false);
                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        let result = JSON.parse(httpRequest.responseText);
                        currentUpdatedPermissionContent+="{";
                        currentUpdatedPermissionContent+='"id":'+result.id+",";
                        currentUpdatedPermissionContent+='"role":"'+result.role+'"';
                        currentUpdatedPermissionContent+="},";
                    }
                };
                httpRequest.send();
            }
            function updateUser(){
                currentUpdatedPermissionContent = "";
                for(let i = 0;i<totalPermissionLength;i++){
                    if(document.getElementById("permission-"+i).checked){
                        findSelectedPermissionForSpecifiedUser(i);
                    }
                }
                if(currentUpdatedPermissionContent.length>0) currentUpdatedPermissionContent = currentUpdatedPermissionContent.slice(0,-1);

                let userId = document.getElementById("userId");
                let userName = document.getElementById("userNameInDetail");
                let userEmail = document.getElementById("userEmailInDetail");
                let userPassword = "";
                let preOrder = "";

                const httpRequest1 = new XMLHttpRequest();
                httpRequest1.open("GET","/user/"+userId.value,false);
                httpRequest1.onreadystatechange = function (){
                     if(httpRequest1.readyState===XMLHttpRequest.DONE && httpRequest1.status===200){
                         let result = JSON.parse(httpRequest1.responseText);
                         userPassword = result.password;
                         preOrder = result.preOrder;
                     }
                }
                httpRequest1.send();

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("PUT", "/user", true);
                httpRequest.setRequestHeader("Content-Type","application/json");


                httpRequest.onreadystatechange = function(){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        loadUsers();
                    }
                };

                let body = {
                    "id": userId.value,
                    "fullName": userName.value,
                    "email": userEmail.value,
                    "password":userPassword,
                    "preOrder":preOrder,
                    "permissions":JSON.parse("["+currentUpdatedPermissionContent+"]")
                };
                body = JSON.stringify(body);
                httpRequest.send(body);
            }

        </script>
    </div>
</html>