<!DOCTYPE html>
<html lang="en"
      xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout.html">
    <div layout:fragment="content">
        <input type="hidden" id="restaurantId" th:value="${restaurant.getId()}">
<!--        <input type="text" id="restaurantName" th:text="${restaurant.getName()}">-->
<!--        <input type="text" id="restaurantRatings" th:text="${restaurant.getRatings()}">-->
<!--        <input type="text" id="restaurantAddress" th:text="${restaurant.getAddress()}">-->
<!--        <input type="text" id="restaurantEmail" th:text="${restaurant.getUserEmail()}">-->
        <div id="allDishesDividedByTypes">

        </div>
        <script type="text/javascript">
            const dishTypeIdSet = new Set();
            function loadDishTypesRelatedToTheRestaurant(){
                const httpRequest = new XMLHttpRequest();
                const restaurantId = document.getElementById("restaurantId").value;
                httpRequest.open("GET","/dish/restaurant/"+restaurantId,false);
                httpRequest.onreadystatechange = function (){
                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                        let result = JSON.parse(httpRequest.responseText);
                        for(let i = 0;i<result.length;i++){
                            dishTypeIdSet.add(result[i].dishType.id);
                        }
                    }
                };
                httpRequest.send();
            }
            function loadDishType(dishTypeId) {
                return new Promise((resolve, reject) => {
                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("GET", "/dishType/" + dishTypeId);
                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.readyState === XMLHttpRequest.DONE) {
                            if (httpRequest.status === 200) {
                                const result = JSON.parse(httpRequest.responseText);
                                resolve(result);
                            } else {
                                reject(new Error("Request failed, related to the finding dish type"));
                            }
                        }
                    };
                    httpRequest.send();
                });
            }
            function loadDishesWhereRestaurantAndDishTypeAre(restaurantId,dishTypeId){
                return new Promise((resolve, reject)=>{
                   const httpRequest = new XMLHttpRequest();
                   httpRequest.open("GET","/dish/restaurant/"+restaurantId+"/dishType/"+dishTypeId);
                   httpRequest.onreadystatechange = function(){
                       if(httpRequest.readyState===XMLHttpRequest.DONE) {
                           if (httpRequest.status === 200) {
                               const result = JSON.parse(httpRequest.responseText);
                               resolve(result);
                           } else {
                               reject(new Error("Request Failed, related to the finding dish by type inside restaurant"));
                           }
                       }
                   }
                   httpRequest.send();
                });
            }
            async function showCategoriesOnTheScreen(){
                try{
                    loadDishTypesRelatedToTheRestaurant();
                    let tableContent = "";
                    for(const dishTypeId of dishTypeIdSet){
                        const dishTypeResult = await loadDishType(dishTypeId);
                        const dishesSeparatedByType = await loadDishesWhereRestaurantAndDishTypeAre(document.getElementById("restaurantId").value,dishTypeResult.id);
                        tableContent+="<div class='row mt-3'>";
                            tableContent+="<div class='col-12'>";
                                tableContent+="<table class='table table-striped'>";
                                    tableContent+="<thead>";
                                        tableContent+="<tr>";
                                            tableContent+="<th>"+dishTypeResult.name+"</th>"
                                            tableContent+="<th style='width: 10%;'>DETAILS</th>"
                                        tableContent+="</tr>";
                                    tableContent+="</thead>";
                                    tableContent+="<tbody>";
                                    for(let i = 0;i<dishesSeparatedByType.length;i++) {
                                        tableContent += "<tr>";
                                            tableContent += "<td>" + dishesSeparatedByType[i].name + "</td>"
                                            tableContent += "<td style='width: 10%;'>DETAILS</td>"
                                        tableContent += "</tr>";
                                    }
                                    tableContent+="</tbody>";
                                tableContent+="</table>";
                            tableContent+="</div>";
                        tableContent+="</div>";
                    }
                    document.getElementById("allDishesDividedByTypes").innerHTML = tableContent;
                }
                catch (error){
                    console.error(error);
                }
            }

            showCategoriesOnTheScreen()
        </script>
    </div>
</html>

<!--    <div class="modal fade" id="detailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">-->
<!--      <div class="modal-dialog">-->
<!--        <div class="modal-content">-->
<!--          <div class="modal-header">-->
<!--            <h1 class="modal-title fs-5" id="staticBackdropLabel">Restaurant details</h1>-->
<!--            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--          </div>-->
<!--          <div class="modal-body">-->
<!--            <div class="row mt-3">-->
<!--              <div class="col-12">-->
<!--                <label for="restaurantNameInDetail">NAME:</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row mt-2">-->
<!--              <div class="col-12">-->
<!--                <input type="text" id="restaurantNameInDetail" class="form-control" readonly>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row mt-3">-->
<!--              <div class="col-12">-->
<!--                <label for="restaurantRatingsInDetail">RATINGS:</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row mt-2">-->
<!--              <div class="col-12">-->
<!--                <input type="number" class="form-control" id="restaurantRatingsInDetail" readonly>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row mt-3">-->
<!--              <div class="col-12">-->
<!--                <label for="restaurantAddressInDetail">ADDRESS:</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row mt-2">-->
<!--              <div class="col-12">-->
<!--                <input type="text" id="restaurantAddressInDetail" class="form-control" readonly>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row mt-3">-->
<!--              <div class="col-12">-->
<!--                <label for="restaurantCategoriesInDetail">CATEGORIES:</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row mt-2">-->
<!--              <div class="col-12">-->
<!--                <textarea name="restaurantCategoriesInDetail" id="restaurantCategoriesInDetail" class="form-control" readonly></textarea>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row mt-3">-->
<!--              <div class="col-12">-->
<!--                <label for="restaurantUserEmailInDetail">OWNER EMAIL:</label>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="row mt-2">-->
<!--              <div class="col-12">-->
<!--                <input type="email" id="restaurantUserEmailInDetail" class="form-control" readonly>-->
<!--              </div>-->
<!--            </div>-->
<!--  -->
<!--          </div>-->
<!--          <div class="modal-footer">-->
<!--            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>-->
<!--            <button type="button" class="btn btn-primary">OK</button>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <script>-->
<!--      function openRestaurantDetailsModal(id){-->
<!--        modal = new bootstrap.Modal(document.getElementById('detailsModal'));-->
<!--        const httpRequest = new XMLHttpRequest();-->
<!--        httpRequest.open("GET","/restaurant/"+id,true);-->
<!--        httpRequest.onreadystatechange = function(){-->
<!--          if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){-->
<!--            let result = JSON.parse(httpRequest.responseText);-->
<!--            document.getElementById("restaurantNameInDetail").value = result.name;-->
<!--            document.getElementById("restaurantRatingsInDetail").value = result.ratings;-->
<!--            document.getElementById("restaurantAddressInDetail").value = result.address;-->

<!--            let categoryContent = "";-->
<!--            let categoriesLength = result.categories.length;-->
<!--            for(let j = 0;j<categoriesLength-1;j++){-->
<!--              categoryContent+=result.categories[j].name + ", ";-->
<!--            }-->
<!--            if(categoriesLength>0) {-->
<!--              categoryContent+=result.categories[categoriesLength-1].name;-->
<!--            }-->

<!--            document.getElementById("restaurantCategoriesInDetail").value = categoryContent;-->
<!--            document.getElementById("restaurantUserEmailInDetail").value = result.userEmail;-->
<!--            document.getElementById("restaurantId").value=result.id;-->
<!--            modal.show();-->
<!--          }-->
<!--        }-->
<!--        httpRequest.send();-->
<!--      }-->
<!--    </script>-->