<!DOCTYPE html>
<html lang="en"
      xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Yeldos's App</title>
        <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.min.css'}">
        <link rel="stylesheet" th:href="@{'/css/layout.css'}">
    </head>
    <body>
        <div class="container">
            <header>
                <div class="left">
                    <div class="logo">
                        <a th:href="@{'/'}">
                            <img th:src="@{'/img/Glovo_logo.png'}" alt="Glovo_logo">
                        </a>
                    </div>
                    <nav class="navbar navbar-expand-lg">
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item" sec:authorize="isAnonymous()">
                                    <a class="nav-link" th:href="@{'/sign-in-page'}">Sign In</a>
                                </li>
                                <li class="nav-item" sec:authorize="isAnonymous()">
                                    <a class="nav-link"  th:href="@{'/sign-up-page'}">Sign Up</a>
                                </li>
                                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                                    <a class="nav-link"  th:href="@{'/admin-panel'}">Admin Panel</a>
                                </li>
                                <li class="nav-item" sec:authorize="hasAnyRole('ROLE_RESTAURANT')">
                                    <a class="nav-link"  th:href="@{'/restaurant-panel'}">Restaurant Panel</a>
                                </li>
                                <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <span th:text="${#authentication.principal.fullName}"></span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" th:href="@{'/update-fullName-page'}">Update Name</a></li>
                                        <li><a class="dropdown-item" th:href="@{'/update-password-page'}">Update Password</a></li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li>
                                            <form th:action="@{'/sign-out'}" method="post">
                                                <button class="dropdown-item">Sign Out</button>
                                            </form>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="user-info">
                    <div class="user-info-account">
                        <a href="#">
                            <img src="https://res.cloudinary.com/glovoapp/image/fetch/f_svg,q_auto:low/https://glovoapp.com/images/svg/profile-icon_new.svg" alt="User Account">
                        </a>
                    </div>
                    <div class="user-info-menu">
                        <a href="#">
                            <img src="https://res.cloudinary.com/glovoapp/image/fetch/f_svg,q_auto:low/https://glovoapp.com/images/svg/orders-icon_new.svg">
                        </a>
                    </div>
                </div>
            </header>

            <section class="main">
                <h1 class="main_title">Доставка в городе Алматы</h1>
                <div class="main_cards">
                    <div class="main_cards_card">
                        <a th:href="@{'/show-me-restaurants'}">
                            <img src="https://images.deliveryhero.io/image/customer-assets-glovo/category_icons/634ad72df44f6e1d591c4a8bb725a95a8d2f6b704f0997ee65b351e50ef58dd2?t=W3siYXV0byI6eyJxIjoiaGlnaCJ9fSx7InJlc2l6ZSI6eyJtb2RlIjoiZml0Iiwid2lkdGgiOjEyMCwiaGVpZ2h0IjoxMjB9fV0=">
                            <h2 class="main_cards_card_text">Еда</h2>
                        </a>
                    </div>
                </div>
            </section>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <div layout:fragment="content"></div>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
</html>