<!DOCTYPE html>
<html lang="en"
      xlmns:th="http://www.thymeleaf.org" xmlns:xlmns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="layout.html">
    <head>
        <link rel="stylesheet" th:href="@{'/css/restaurants.css'}">
    </head>
    <div layout:fragment="content">
        <div class="restaurant_content">
            <input type="hidden" id="restaurantId">
            <div class="row mb-3" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                <form enctype="multipart/form-data" class="col-6" style="border: 1px solid darkgreen; border-radius: 7px;">
                    <div class="row mt-3">
                        <div class="col-12" id="alertForFillingFormForAddingRestaurant">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                           <label for="restaurantName">NAME:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" id="restaurantName" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label for="restaurantRatings">RATINGS:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="number" class="form-control" id="restaurantRatings" th:value="0" disabled>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                           <label for="restaurantAddress">ADDRESS:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" class="form-control" id="restaurantAddress" required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label for="restaurantPhoto">PHOTO:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="file" class="form-control" id="restaurantPhoto" required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label for="restaurantOwner" class="form-label">OWNER EMAIL:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="email" class="form-control" id="restaurantOwner" required>
                        </div>
                    </div>

                    <div class="form-check form-switch mt-3" id="categoryForCreationOfRestaurant">
                    </div>
                    <script type="text/javascript">
                        loadCategories();
                        categoryIdStorage = [];
                        var categoryLength = 0;
                        function loadCategories(){
                            const httpRequest = new XMLHttpRequest();
                            httpRequest.open("GET","/category",true);
                            httpRequest.onreadystatechange = function(){
                                if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                                    let categoryList = JSON.parse(httpRequest.responseText);
                                    let categorySelectionContent = "";
                                    categoryLength = categoryList.length;
                                    for(let i = 0;i<categoryLength;i++){
                                        categorySelectionContent+="<input class='form-check-input' type='checkbox' role='switch' id=restaurantCategory"+i+">";
                                        categorySelectionContent+="<label class='form-check-label' for=restaurantCategory"+i+">"+categoryList[i].name+"</label><br>";
                                        categoryIdStorage[i] = categoryList[i].id;
                                    }
                                    document.getElementById("categoryForCreationOfRestaurant").innerHTML = categorySelectionContent;
                                }
                            };
                            httpRequest.send();
                        }
                    </script>
                    <div class="row mt-3 mb-3">
                        <div class="col-12">
                           <button class="btn btn-success text-center" onclick="addRestaurant()">ADD RESTAURANT</button>
                        </div>
                        <script type="text/javascript">
                            var categoriesContent = "";
                            function findSelectedCheckboxes(i){
                                const httpRequest = new XMLHttpRequest();
                                httpRequest.open("GET","/category/"+categoryIdStorage[i], false);
                                httpRequest.onreadystatechange = function(){
                                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                                        let result = JSON.parse(httpRequest.responseText);
                                        categoriesContent+="{";
                                        categoriesContent+='"id":'+result.id+",";
                                        categoriesContent+='"name":"'+result.name+'"';
                                        categoriesContent+="},";
                                    }
                                };
                                httpRequest.send();
                            }

                            function addRestaurant(){
                                let restaurantName = document.getElementById("restaurantName");
                                let restaurantRatings = document.getElementById("restaurantRatings");
                                let restaurantAddress = document.getElementById("restaurantAddress");
                                let restaurantPhoto = document.getElementById("restaurantPhoto");
                                let restaurantOwner = document.getElementById("restaurantOwner");

                                if(restaurantName.value==="") {
                                    showAlertForAddingRestaurant("danger","Write Restaurant name!");
                                }else if(restaurantAddress.value===""){
                                    showAlertForAddingRestaurant("danger","Write a Restaurant address!");
                                } else if(restaurantOwner.value===""){
                                    showAlertForAddingRestaurant("danger","Write Restaurant Owner Email!");
                                } else if(!restaurantPhoto.files[0]) {
                                    showAlertForAddingRestaurant("danger","Upload restaurant image")
                                } else{
                                    showAlertForAddingRestaurant("success","Restaurant added successfully!");

                                    for (let i = 0; i < categoryLength; i++) {
                                        if (document.getElementById("restaurantCategory" + i).checked) {
                                            findSelectedCheckboxes(i)
                                        }
                                    }
                                    if (categoriesContent.length > 0) categoriesContent = categoriesContent.slice(0, -1);

                                    const httpRequest = new XMLHttpRequest();
                                    httpRequest.open("POST", "/restaurant", true);

                                    httpRequest.onreadystatechange = function () {
                                        if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
                                            restaurantName.value = "";
                                            restaurantAddress.value = "";
                                            for (let i = 0; i < categoryLength; i++) {
                                                let currentCheckBox = document.getElementById("restaurantCategory" + i);
                                                if (currentCheckBox.checked) {
                                                    currentCheckBox.checked = false;
                                                }
                                            }
                                            loadRestaurants();
                                        }
                                    };
                                    let formData = new FormData();
                                    formData.append("photo", restaurantPhoto.files[0]);
                                    formData.append("name",restaurantName.value);
                                    formData.append("ratings", restaurantRatings.value);
                                    formData.append("address", restaurantAddress.value);
                                    formData.append("userEmail", restaurantOwner.value);
                                    formData.append("categories", JSON.parse("[" + categoriesContent + "]"));
                                    categoriesContent = "";
                                    httpRequest.send(formData);
                                }
                            }
                            function showAlertForAddingRestaurant(type, message) {
                                document.getElementById("alertForFillingFormForAddingRestaurant").innerHTML = "";

                                let alertDiv = document.createElement("div");
                                alertDiv.classList.add("alert", "alert-" + type, "alert-dismissible", "fade", "show");
                                alertDiv.setAttribute("role", "alert");

                                let strongTag = document.createElement("strong");
                                strongTag.textContent = message;
                                alertDiv.appendChild(strongTag);

                                let closeButton = document.createElement("button");
                                closeButton.setAttribute("type", "button");
                                closeButton.classList.add("btn-close");
                                closeButton.setAttribute("data-bs-dismiss", "alert");
                                closeButton.setAttribute("aria-label", "Close");
                                alertDiv.appendChild(closeButton);

                                document.getElementById("alertForFillingFormForAddingRestaurant").appendChild(alertDiv);
                            }

                        </script>
                    </div>
                </form>
                <div class="col-6" style="border: 1px solid; border-radius: 7px;">
                    <div class="row mt-3">
                        <div class="col-12" id="responseToSearchingRestaurant">
                        </div>
                        <div class="modal fade" id="detailsModalForRestaurant" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Restaurant details</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <form enctype="multipart/form-data">
                                        <div class="modal-body">
                                                <div class="row mt-3">
                                                    <div class="col-12">
                                                        <label for="restaurantNameInDetail">Restaurant name:</label>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-12">
                                                        <input type="text" id="restaurantNameInDetail" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-12">
                                                        <label for="restaurantRatingsInDetail">Restaurant ratings:</label>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-12">
                                                        <input type="text" id="restaurantRatingsInDetail" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-12">
                                                        <label for="restaurantAddressInDetail">Restaurant address:</label>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-12">
                                                        <input type="text" id="restaurantAddressInDetail" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-12">
                                                        <label for="restaurantPhotoInDetail">PHOTO:</label>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-12">
                                                        <input type="file" class="form-control" id="restaurantPhotoInDetail" required>
                                                    </div>
                                                </div>
                                                <div class="row mt-3">
                                                    <div class="col-12">
                                                        <label for="restaurantOwnerEmailInDetail">Restaurant Owner Email:</label>
                                                    </div>
                                                </div>
                                                <div class="row mt-2">
                                                    <div class="col-12">
                                                        <input type="text" id="restaurantOwnerEmailInDetail" class="form-control" required>
                                                    </div>
                                                </div>
                                                <div class="form-check form-switch mt-3" id="restaurantCategoryInDetail">
                                                </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="deleteRestaurant()">DELETE</button>
                                            <button type="button" class="btn btn-primary" onclick="updateRestaurant()">UPDATE</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            loadUpdatedCategories();
                            updatedCategoryIdStorage = [];
                            var updatedCategoryLength = 0;
                            function loadUpdatedCategories(){
                                const httpRequest = new XMLHttpRequest();
                                httpRequest.open("GET","/category",true);
                                httpRequest.onreadystatechange = function(){
                                    if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                                        let categoryList = JSON.parse(httpRequest.responseText);
                                        let categorySelectionContent = "";
                                        updatedCategoryLength = categoryList.length;
                                        for(let i = 0;i<updatedCategoryLength;i++){
                                            categorySelectionContent+="<input class='form-check-input' type='checkbox' role='switch' id=updatedRestaurantCategory-"+i+">";
                                            categorySelectionContent+="<label class='form-check-label' for=updatedRestaurantCategory-"+i+">"+categoryList[i].name+"</label><br>";
                                            updatedCategoryIdStorage[i] = categoryList[i].id;
                                        }
                                        document.getElementById("restaurantCategoryInDetail").innerHTML = categorySelectionContent;
                                    }
                                };
                                httpRequest.send();
                            }
                        </script>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label for="searchRestaurantByEmail" class="form-label">Search Restaurant by email:</label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="email" class="form-control" id="searchRestaurantByEmail" required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <button class="btn btn-success text-center" onclick="searchRestaurant()">Search</button>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    function searchRestaurant(){
                        const httpRequest = new XMLHttpRequest();
                        httpRequest.open("GET","/restaurant/email/"+document.getElementById("searchRestaurantByEmail").value,true);
                        httpRequest.onreadystatechange = function(){
                            if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                                if(httpRequest.responseText.length!==0) {
                                    let restaurant = JSON.parse(httpRequest.responseText);
                                    showAlertAndButton("success", "Restaurant found by email",restaurant.id);
                                }else{
                                    showAlertAndButton("danger","Email not found",-1);
                                }
                            }
                        };
                        httpRequest.send();
                    }
                    function showAlertAndButton(type, message, restaurantId) {
                        document.getElementById("responseToSearchingRestaurant").innerHTML = "";

                        let responseContainer = document.createElement("div");
                        let alertDiv = document.createElement("div");
                        alertDiv.classList.add("alert", "alert-" + type, "alert-dismissible", "fade", "show");
                        alertDiv.setAttribute("role", "alert");

                        let strongTag = document.createElement("strong");
                        strongTag.textContent = message;
                        alertDiv.appendChild(strongTag);

                        let closeButton = document.createElement("button");
                        closeButton.setAttribute("type", "button");
                        closeButton.classList.add("btn-close");
                        closeButton.setAttribute("data-bs-dismiss", "alert");
                        closeButton.setAttribute("aria-label", "Close");
                        alertDiv.appendChild(closeButton);
                        responseContainer.appendChild(alertDiv);

                        if(restaurantId!==-1) {
                            let editButton = document.createElement("button");
                            editButton.setAttribute("type", "button");
                            editButton.classList.add("btn", "btn-sm", "btn-primary");
                            editButton.textContent = "DETAILS";
                            editButton.addEventListener("click", function () {
                                openModalForEditingRestaurant(restaurantId);
                            });
                            responseContainer.appendChild(editButton);
                        }
                        document.getElementById("responseToSearchingRestaurant").appendChild(responseContainer);
                    }
                    function openModalForEditingRestaurant(restaurantId){
                        modalForRestaurant = new bootstrap.Modal(document.getElementById("detailsModalForRestaurant"));
                        const httpRequest = new XMLHttpRequest();
                        httpRequest.open("GET","/restaurant/"+restaurantId,true);
                        httpRequest.onreadystatechange = function(){
                            if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                                let result = JSON.parse(httpRequest.responseText);
                                document.getElementById("restaurantId").value = result.id;
                                document.getElementById("restaurantNameInDetail").value = result.name;
                                document.getElementById("restaurantRatingsInDetail").value = result.ratings;
                                document.getElementById("restaurantAddressInDetail").value = result.address;
                                // document.getElementById("restaurantPhotoInDetail").src = result.photo;
                                for(let i = 0;i<updatedCategoryLength;i++) {
                                    document.getElementById("updatedRestaurantCategory-"+i).checked = false;
                                    for (let j = 0; j < result.categories.length; j++) {
                                        if(updatedCategoryIdStorage[i]===result.categories[j].id){
                                            document.getElementById("updatedRestaurantCategory-"+i).checked = true;
                                            break;
                                        }
                                    }
                                }
                                document.getElementById("restaurantOwnerEmailInDetail").value = result.userEmail;
                                modalForRestaurant.show();
                            }
                        }
                        httpRequest.send();
                    }
                    var updatedCategoryForCurrentRestaurant = "";
                    function findSelectedUpgradedCategories(i){
                        const httpRequest = new XMLHttpRequest();
                        httpRequest.open("GET","/category/"+updatedCategoryIdStorage[i], false);
                        httpRequest.onreadystatechange = function(){
                            if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                                let result = JSON.parse(httpRequest.responseText);
                                updatedCategoryForCurrentRestaurant+="{";
                                updatedCategoryForCurrentRestaurant+='"id":'+result.id+",";
                                updatedCategoryForCurrentRestaurant+='"name":"'+result.name+'"';
                                updatedCategoryForCurrentRestaurant+="},";
                            }
                        };
                        httpRequest.send();

                    }
                    function updateRestaurant(){
                        let restaurantId = document.getElementById("restaurantId");
                        let restaurantName = document.getElementById("restaurantNameInDetail");
                        let restaurantRatings = document.getElementById("restaurantRatingsInDetail");
                        let restaurantAddress = document.getElementById("restaurantAddressInDetail");
                        let restaurantPhoto = document.getElementById("restaurantPhotoInDetail");

                        for(let i = 0;i<updatedCategoryLength;i++){
                            if(document.getElementById("updatedRestaurantCategory-"+i).checked){
                                findSelectedUpgradedCategories(i);
                            }
                        }
                        if(updatedCategoryForCurrentRestaurant.length>0) {
                            updatedCategoryForCurrentRestaurant = updatedCategoryForCurrentRestaurant.slice(0,-1);
                        }
                        let restaurantOwnerEmail = document.getElementById("restaurantOwnerEmailInDetail");

                        const httpRequest = new XMLHttpRequest();
                        httpRequest.open("PUT", "/restaurant/"+restaurantId.value, true);
                        httpRequest.onreadystatechange = function(){
                            if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===201){
                                document.getElementById("responseToSearchingRestaurant").innerHTML = "";
                                document.getElementById("searchRestaurantByEmail").innerHTML = "";
                                modalForRestaurant.hide();
                                loadRestaurants();
                            }
                        };
                        let formData = new FormData();
                        formData.append("photo", restaurantPhoto.files[0]);
                        formData.append("name",restaurantName.value);
                        formData.append("ratings", restaurantRatings.value);
                        formData.append("address", restaurantAddress.value);
                        formData.append("categories", JSON.parse("[" +updatedCategoryForCurrentRestaurant+ "]"))
                        formData.append("userEmail",restaurantOwnerEmail.value);
                        updatedCategoryForCurrentRestaurant = "";
                        httpRequest.send(formData);
                    }
                    function deleteRestaurant(){
                        let approve = confirm("Are you sure?");
                        if(approve){
                            let restaurantId = document.getElementById("restaurantId").value;
                            const httpRequest = new XMLHttpRequest();
                            httpRequest.open("DELETE", "/restaurant/"+restaurantId, true);
                            httpRequest.onreadystatechange = function(){
                                if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                                    modalForRestaurant.hide();
                                    loadRestaurants();
                                }
                            };
                            httpRequest.send();
                        }
                    }
                </script>
            </div>
            <section class="restaurant">
                <div class="restaurant_body">
                    <div class="menu">
                        <div class="sort">
                            <div class="sort_title">Как сортировать</div>
                            <div class="wrap_sort">
                                <div class="logo">
                                    <img src="icons/rating_light.svg" class="png">
                                </div>
                                <div class="text">Рейтинг</div>
                            </div>
                        </div>
                        <div class="popular">
                            <div class="sort_title">Популярные фильтры</div>
                            <div class="wrap">
                                <div class="item">
                                    <div class="logo logoyellow">
                                        <img src="icons/burger.png" class="png">
                                    </div>
                                    <div class="text">Бургеры</div>
                                </div>
                                <div class="item">
                                    <div class="logo logoyellow">
                                        <img src="icons/fastfood.png" class="png">
                                    </div>
                                    <div class="text">Супы</div>
                                </div>
                                <div class="item">
                                    <div class="logo logoyellow">
                                        <img src="icons/fastfood.png" class="png">
                                    </div>
                                    <div class="text">Фаст-фуд</div>
                                </div>
                            </div>
                        </div>
                        <div class="more">
                            <div class="wrap">
                                <div class="sort_title">Больше фильтров</div>
                                <div class="wrap">
                                    <div class="item">
                                        <div class="logo logoyellow">
                                            <img src="icons/aziat.png" class="png">
                                        </div>
                                        <div class="text">Азиатская</div>
                                    </div>
                                    <div class="item">
                                        <div class="logo logoyellow">
                                            <img src="icons/fastfood.png" class="png">
                                        </div>
                                        <div class="text">Американская</div>
                                    </div>
                                    <div class="item">
                                        <div class="logo logoyellow">
                                            <img src="icons/bliny.png" class="png">
                                        </div>
                                        <div class="text">Блинчики</div>
                                    </div>
                                    <div class="item">
                                        <div class="logo logoyellow">
                                            <img src="icons/doner.png" class="png">
                                        </div>
                                        <div class="text">Донер</div>
                                    </div>
                                    <div class="item">
                                        <div class="logo logoyellow">
                                            <img src="icons/kazakh.png" class="png">
                                        </div>
                                        <div class="text">Казахская</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="allRestaurants">
                        <div class="resto_title">Все заведения</div>
                        <div class="restaurants" id="restaurantContainer">

                        </div>
                    </div>
                </div>
            </section>

            <script type="text/javascript">
                loadRestaurants();

                function redirectToRestaurant(restaurantId) {
                    window.location.href = "/show-me-dishes-relatedToRestaurant/" + restaurantId;
                }
                function loadRestaurants(){
                    document.getElementById("restaurantContainer").innerHTML = "";
                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("GET","/restaurant",true);
                    httpRequest.onreadystatechange = function(){
                        if(httpRequest.readyState===XMLHttpRequest.DONE && httpRequest.status===200){
                            let restaurantList = JSON.parse(httpRequest.responseText);
                            let restaurantContainer = document.getElementById("restaurantContainer");

                            restaurantList.forEach(function(restaurant) {
                                let restoWrap = document.createElement("div");
                                restoWrap.className = "resto_wrap";

                                let imageDiv = document.createElement("div");
                                imageDiv.addEventListener("click", function() {
                                    redirectToRestaurant(restaurant.id);
                                });

                                let image = document.createElement("img");
                                image.src = restaurant.photo;
                                image.alt = "birnarse";

                                imageDiv.appendChild(image);

                                let textDiv = document.createElement("div");
                                textDiv.className = "text";

                                let restoName = document.createElement("div");
                                restoName.className = "resto_name";
                                restoName.innerText = restaurant.name;

                                let category = document.createElement("div");
                                if(restaurant.category != null) {
                                    category.innerText = restaurant.category; // Replace with the appropriate property from your data
                                }

                                textDiv.appendChild(restoName);
                                textDiv.append(category);

                                restoWrap.appendChild(imageDiv);
                                restoWrap.appendChild(textDiv);

                                restaurantContainer.appendChild(restoWrap);
                            });
                        }
                    };
                    httpRequest.send();
                }
            </script>
        </div>
    </div>

</html>